@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
--blue : #1992D4;
--grey:#E2E8F0 ;
--orange : #F0B429;
--text-color:#909090;
}

ul{
  list-style: none;
}


body{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: min-content 1fr;
  font-family: 'Roboto' ,sans-serif;
  min-height: 100vh;
}


/* START OF SIDEBAR STYLES */

.sidebar{
  grid-column: 1/2;
  grid-row: 1/-1;
  
  background-color: var(--blue);
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 3rem;

  padding: 1rem;
  color: white;
}

.sidebar .logo{
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar ul{
  padding-left: 1rem ;
}

.sidebar ul li{
  margin-bottom: 0.75rem;

  display: flex;
  gap: 1.5rem ;

}

/* END OF SIDEBAR STYLES */
/* START OF HEADER STYLES */

.header{
  grid-column: 2/-1;
  background-color: white;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;

  padding: 1rem 2rem;
  padding-right: 3rem;
  box-shadow: 1px 3px 5px  0px rgb(200, 200, 200);
  z-index: 10;
}

.search{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.search input{
  flex-grow: 1;
  padding: 0.5rem;
  border: none;
  background-color: var(--grey);
  border-radius: 1rem;
}

.notifs-and-profile{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  
}

.notifs-and-profile h4{
  font-weight: 900;
}

.personal-profile{
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.personal-profile p{
  font-size: 0.75em;
}

.header-buttons{
  display: flex;
  justify-content: space-between;
  padding:1rem 0;
}

.header-buttons button{
  padding: 0.5rem 1.5rem;
  background-color: var(--blue);
  border: none;
  border-radius: 1rem;
  color: white;
}

/* END OF HEADER STYLES */
/* START OF MAIN STYLES */


.main{
  grid-column: 2/-1;
  background-color: var(--grey);
  
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  
  padding: 2rem 1rem;
}

.main p{
  color: var(--text-color);
}

.main>div{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.main-posts{
  gap: 0.5rem;
}

.posts{
  display: grid;
  grid-template-columns: repeat(2 , minmax(150px,1fr));
  gap: 1.5rem;
}

.post{
  padding: 2rem 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-left: 0.5rem solid var(--orange);
  border-radius: 0.5rem;
  box-shadow: 1px 3px 5px  0px rgb(200, 200, 200);
}

.post p{
  margin-top: -2rem;
}

.choices{
  align-self: end;
  justify-self: end;
  margin-bottom: -1rem;
  margin-right: 1rem;

  display: flex;
  gap: 1.5rem;
}

.main-sidebar{
  gap: 2rem;
}

.announcements, .trending{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.announcements-main,.trending-main{
  padding: 2rem ;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.announcement-post{
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
}

.announcement-post:last-child{
  border: none;
  padding-bottom: 0;
}

.trending-main{
  padding-top: 1.5rem;
  gap: 1.5rem;
}

.trending-profile{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* END OF MAIN STYLES */